.index {
    background-color: purple;
}

.h1 {
    text-align: center;
    color: yellow;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.items {
    background-color: yellow;
    color: purple;

}

.pages {
    background-color: blue;
    color: red;
}

.link {
    background-color: red;
}